.grid:global(.adventure-grid) {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid .card h3 {
  max-width: none;
}

.description {
  font-size: 13px;
  margin: 10px 0 0;
}

@media (max-width: 800px) {
  .grid:global(.adventure-grid) {
    grid-template-columns: minmax(0, 1fr);
  }
}
